<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <title>Обращение №{{appeal_id}}</title>
</head>
<body>
    {{ appeal.title }}<br>
    {{ appeal.text_appeal }}

    <table>
        <tbody id="chat-log">
        {% for message in messages %}
          <div>
            <p>{{ message.sender }}{% if message.sender.is_admin %} (админ){% endif %}:</p>
            <p>{{ message.text }}</p>
            <p>{{ message.time }}</p>
              <br>
          </div>
        {% endfor %}
        </tbody>
    </table>

<!--    <input id="chat-message-input" type="text" size="100"><br>-->
<!--    <input id="chat-message-submit" type="button" value="Send">-->

    {% if not appeal.is_activate %}
    <input id="chat-message-input" type="text" size="100" disabled>

    <input id="chat-message-submit" type="button" value="Send" disabled>
    {% else %}
        <input id="chat-message-input" type="text" size="100">

        <input id="chat-message-submit" type="button" value="Send">
    {% endif %}

    <a href="{% url 'deactivate' appeal_id=appeal.id %}" class="btn btn-primary" onclick="return confirm('Вы уверены, что хотите деактивировать обращение?')">Деактивировать обращение</a>
    {{ appeal_id|json_script:"appeal-id" }}
    <script>
        const roomName = JSON.parse(document.getElementById('appeal-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
                document.querySelector('#chat-log').innerHTML += `<tr>
                                                                <td>${data.sender}</td>
                                                                <td><p>${data.message}</p></td>
                                                                <td><p>${data.time}</p></td>

                                                            </tr>`
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': '{{ request.user.email }}',
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>